@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFFFFF;
    --primary-color: #7B1919;
    --hover-color: #FF9B9B;
    --primary-color-light: #F6F5FF;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

.home {
    position: relative !important;
    height: 100% !important;
    left: 250px !important;
    width: calc(100% - 250px) !important;
    background: var(--body-color) !important;
    transition: var(--tran-05) !important;
}

.home .text {
    font-size: 28px !important;
    font-weight: 700 !important;
    color: var(--sidebar-color) !important;

}

.sidebar.close~.home {
    left: 120px !important;
    width: calc(100% - 120px) !important;
}

.home .background-colors {
    height: 100% !important;
    width: 100% !important;
    background: linear-gradient(to top, var(--body-color) 80%, var(--primary-color) 20%) !important;
}


.dados-canhoto-table {
    height: 100% !important;
    border-radius: 8px !important;
    background: var(--Neutral-White, #FFF) !important;
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08) !important;
}

.canhotos-table-title {
    height: 60px;
    color: var(--Neutral-900, #212529);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
}

.dados-canhoto-container-2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
    padding: 24px;
    flex-direction: column;
    gap: 36px;
    flex-shrink: 0;

}

.busca-canhoto-container-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}

.busca-canhoto-container-2-text {
    color: var(--VermelhoFulltime-Regular, #ED1C26);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100% !important;
}

.busca-canhoto-container-2-input {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid var(--Neutral-300, #DEE2E6);
    background: var(--Neutral-White, #FFF);

}

.busca-canhoto-container-2-input:active {
    border: 1px solid var(--Neutral-300, #050505) !important;
}

.busca-canhoto-container-2-input:focus {
    border: 1px solid var(--Neutral-300, #050505) !important;
}

.busca-canhoto-container-2-cards {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

}

.busca-canhoto-container-2-card-div {
    width: 100% !important;
    border-radius: 8px !important;
    background: var(--Neutral-White, #FFF) !important;
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08) !important;
    margin-left: 1% !important;
}

.busca-canhoto-container-2-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

}

.search-container .bx-search {
    transition: opacity 0.3s ease;

}

.search-container .busca-canhoto-container-2-input:focus+.bx-search {
    opacity: 0;
}

.search-container .busca-canhoto-container-2-input:not(:focus)+.bx-search {
    opacity: 1;
}

.bxs-file-export {
    font-size: 40px;
    color: green;
}

.p-inputnumber-input {
    width: 365px !important;
}

.p-inputnumber-input:focus {
    opacity: 2 !important;
    border: 1px solid #94A3B8 !important;
}

.bxs-edit,
.bxs-file-export {
    cursor: pointer;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .sidebar {
        min-width: 90px !important;
    }

    .sidebar .text {
        display: none !important;
    }

    .sidebar .image-text img {
        width: 60px !important;
    }

    .sidebar li .icon {
        min-width: 60px !important;
    }

    .home {
        min-width: 100% !important;
        margin-left: -160px !important;
    }

    .image-profile {
        margin-right: 100px !important;
    }

    .bottom-content {
        margin-bottom: 60rem !important;
    }

    .background-colors {
        width: 1024px !important;
        height: 1366px !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

}


@media only screen and (max-width: 576px) {}

/* MEDIA QUERY IPHONE SE */
@media only screen and (min-width: 375px) and (max-width: 667px) {

    .sidebar {
        width: 90px !important;
    }

    .sidebar .text {
        display: none !important;
    }

    .sidebar .image-text img {
        width: 60px !important;
    }

    .sidebar li .icon {
        min-width: 60px !important;
    }

    .home {
        width: 100% !important;
        margin-left: -160px !important;
    }

    .image-profile {
        margin-right: 170px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

}

/* MEDIA QUERY IPAD MINI */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .sidebar {
        width: 90px !important;
    }

    .sidebar .text {
        display: none !important;
    }

    .sidebar .image-text img {
        width: 60px !important;
    }

    .sidebar li .icon {
        min-width: 60px !important;
    }

    .home {
        width: 100% !important;
        margin-left: -160px !important;
    }

    .image-profile {
        margin-right: 170px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

}

/* IPHONES MAIORES */
@media only screen and (max-width: 768px) {

    .sidebar {
        width: 90px;
    }

    .sidebar .text {
        display: none;
    }

    .sidebar .image-text img {
        width: 60px;
    }

    .sidebar li .icon {
        min-width: 60px;
    }

    .home {
        width: 100%;
        margin-left: -160px !important;
    }

    .image-profile {
        margin-right: 170px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .canhotos-table-title {
        display: none !important;
    }


}

/* MEDIA QUERY GALAXY S8+ */
@media only screen and (min-width: 360px) and (max-width: 740px) {

    .sidebar {
        width: 90px !important;
    }

    .sidebar .text {
        display: none !important;
    }

    .sidebar .image-text img {
        width: 60px !important;
    }

    .sidebar li .icon {
        min-width: 60px !important;
    }

    .home {
        width: 100% !important;
        margin-left: -160px !important;
    }

    .card {
        width: 240px !important;
        margin-left: 5px !important;
        margin-top: 10px !important;
    }

    .text-table-botoes {
        display: none !important;
    }

    .novo-canhoto {
        margin-left: -300px !important;
        width: 10px !important;
    }

    .image-profile {
        margin-right: 170px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .text-visao-geral {
        font-size: 30px !important;
        margin-left: -30px !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

}

/* MEDIA QUERY GALAXY S20 ULTRA */
@media only screen and (min-width: 412px) and (max-width: 915px) {

    .sidebar {
        width: 90px !important;
    }

    .sidebar .text {
        display: none !important;
    }

    .sidebar .image-text img {
        width: 60px !important;
    }

    .sidebar li .icon {
        min-width: 60px !important;
    }

    .home {
        width: 100% !important;
        margin-left: -160px !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

    .text-table-botoes {
        display: none !important;
    }

    .image-profile {
        margin-right: 170px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .text-visao-geral {
        font-size: 30px !important;
        margin-left: -30px !important;
    }

    .canhotos-table-title {
        display: none !important;
    }

}

@media only screen and (max-width: 480px) {
    .sidebar {
        width: 90px;
    }

    .sidebar .text {
        display: none;
    }

    .sidebar .image-text img {
        width: 60px;
    }

    .sidebar li .icon {
        min-width: 60px;
    }

    .home {
        width: 100%;
        margin-left: -160px !important;
    }

    .canhotos-table-title {
        display: none;
    }

    .text-table-botoes {
        display: none;
    }

    .image-profile {
        margin-right: 100px;
    }

    .bottom-content {
        margin-bottom: 45rem !important;
    }

    .toggle {
        display: none !important;
    }

    .canhotos-table-title {
        display: none !important;
    }


}