@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFFFFF;
    --primary-color: #7B1919;
    --hover-color: #FF9B9B;
    --primary-color-light: #F6F5FF;
    --text-color: #707070;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 120px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}


.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    font-size: 25px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    margin-top: 3px;
    width: 80px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 20px;
    width: 20px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar .close header .toggle {
    transform: translateY(-50%) rotate(180deg);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--hover-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home {
    position: relative;
    height: 100%;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 28px;
    font-weight: 700;
    color: var(--sidebar-color);

}

.sidebar.close~.home {
    left: 120px;
    width: calc(100% - 120px);
}

.principal-nav {
    height: 70px;
    background: var(--sidebar-color);
}

.icon-notification {
    font-size: 20px;
}

.home .background-colors {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, var(--body-color) 80%, var(--primary-color) 20%);
}

.cards-principal {
    margin-left: 10vh;
    width: 90% !important;
}

.card {
    width: 18rem;
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
}

.card-styles {
    margin-left: 50px;
}

.card-text {
    font-weight: 700;
}

.custom-flex {
    display: flex;
    align-items: center;
}

.custom-img {
    margin-right: 10px;
}

.active {
    color: var(--body-color) !important;
    background: var(--text-color) !important;
}

.active:hover {
    background: var(--hover-color) !important;
    color: var(--body-color) !important;
}

table {
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
}

textarea:focus,
input:focus,
select:focus,
.form-control:focus,
option:focus,
.form-select:focus,
.dt-paging-button:focus,
dt-paging:focus,
.dt-paging-button:active {
    box-shadow: 0 0 0 0 !important;
    border: 0 none !important;
    outline: 0 !important;
}

.usuarios-table {
    height: 100%;
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
}

.usuarios-table-title,
.canhotos-table-title {
    color: var(--Neutral-900, #212529);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-table {
    border-radius: 8px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 2px 4px 0px rgba(13, 23, 33, 0.08), 0px 1px 2px 0px rgba(21, 30, 40, 0.08);
}

.text-footer-table {
    color: var(--VermelhoFulltime-Forte, #7B1919);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
}

.arrow-footer-table {
    color: var(--VermelhoFulltime-Forte, #7B1919);
    width: 25px;
    height: 25px;
}

.text-footer-div {
    display: flex !important;
    gap: 36px !important;
    justify-content: center !important;
    align-items: center !important;
}
